@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: radial-gradient(
    circle 703px at 15.9% 53.4%,
    rgba(80, 15, 85, 1) 0%,
    rgba(11, 83, 149, 1) 100.2%
  );
  color: white;
}

header {
  width: 100%;
  height: 10vh;
  display: flex;
  margin: 5px 0px;
}
.nav {
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
}
a {
  text-decoration: none;
  color: black;
}

.logo {
  width: 30%;
}

.pages {
  width: 70%;
  display: flex;
  justify-content: center;
  font-family: "Orbitron", sans-serif;
  font-weight: 700;
  color: black;
}

.links {
  width: 50%;
  display: flex;
  justify-content: space-around;
}

.home_block {
  margin: 0px 4rem;
   text-align: center;
  font-family: "Orbitron", sans-serif;
  font-size: small;
  font-weight: 200;
}

footer {
  width: 100%;
  text-align: center;
  font-family: "Orbitron", sans-serif;
  font-size: small;
  font-weight: 200;
}
