{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/destination/style.css' %}" />
    <link
      rel="icon"
      type="image/x-icon"
      href="{% static 'images/chinuch.png' %} "
      class="rounded-sm"
    />
    {% comment %}
    <link rel="stylesheet" href="../static/css/style.css" />
    {% endcomment %}
    <title>CHINUCH</title>
  </head>
  <body>
    <div class="min-h-screen flex flex-col">
      {% include "header.html" %}

      <main class="flex-1 w-full">{% block content %} {% endblock %}</main>

      {% include "footer.html" %}
    </div>
  </body>
</html>
