<div>
  <header class="h-20">
    <div class="flex bg-blue-700 w-full h-full items-center justify-around">
      {% comment %} logo {% endcomment %}
      <div class="w-[25vw] h-full flex items-center relative">
        <a href="/" class="flex items-center justify-around absolute left-5"
          ><img
            src="../static/images/chinuch_Tech_image.png"
            alt="chinuch_Tech_image"
            class="h-16 justify-center items-center rounded-sm"
        /></a>
      </div>
      {% comment %} pages {% endcomment %}
      <div class="w-[50vw] h-full flex justify-around items-center text-white">
        <!-- {{request.path}} -->
        <div class="{% if request.path == '/' %} active {% endif %}">
          <a href="{% url 'home' %}">home</a>
        </div>
        <div
          class="{% if request.path == '/ourprograms/' %} active {% endif %}"
        >
          <a href="{% url 'ourprograms' %}">Our programs</a>
        </div>
        <div class="{% if request.path == '/aboutus/' %} active {% endif %}">
          <a href="{% url 'aboutus' %}">AboutUs</a>
        </div>
        <div class="{% if request.path == '/contactus/' %} active {% endif %}">
          <a href="{% url 'contactus' %}">ContactUs</a>
        </div>
        <div class="{% if request.path == '/carrers/' %} active {% endif %}">
          <a href="{% url 'carrers' %}">Carrers</a>
        </div>
      </div>
      {% comment %} buttons {% endcomment %}
      <div class="w-[25vw] h-full flex items-center justify-around">
        <div class="flex w-[80%] h-[60%] justify-evenly items-center">
          <button
            class="border border-white w-[20%] h-full rounded-sm text-white"
          >
            SignUp
          </button>
          <button
            class="border border-white w-[20%] h-full rounded-sm text-white"
          >
            Login
          </button>
        </div>
      </div>
    </div>
  </header>
</div>
