<header class="text-white">
  <div class="flex bg-yellow-500 m-4">
    <div class="logo">
      <a href="../templates/home.html"
        ><img
          src="../static/images/chinuch_Tech_image.png"
          alt="chinuch_Tech_image"
          class="w-5"
      /></a>
    </div>
    <div class="">
      <div>
        <a href="../templates/Our_pragrams.html" class="h-1">Our programs</a>
      </div>
      <div><a href="../templates/ContactUs.html">ContactUs</a></div>
      <div><a href="../templates/AboutUs.html">AboutUs</a></div>
      <div><a href="../templates/">Carrers</a></div>
    </div>
    <div class="">
      <button>SignUp</button><button>Login</button>
    </div>
  </div>
</header>
