<header class="w-full h-24 items-center">
  <div class="flex bg-blue-700 m-4 w-full h-full justify-around">
    {% comment %} logo {% endcomment %}
    <div class="w-[40%] h-full justify-center items-center">
      <a
        href="../templates/home.html"
        class="h-full flex justify-center items-center"
        ><img
          src="../static/images/chinuch_Tech_image.png"
          alt="chinuch_Tech_image"
          class="h-16 justify-center items-center rounded-sm"
      /></a>
    </div>
    {% comment %} pages {% endcomment %}
    <div class="w-[60%] h-full flex justify-around items-center">
      <div>
        <a href="../templates/Our_pragrams.html" class="h-1">Our programs</a>
      </div>
      <div><a href="../templates/ContactUs.html">ContactUs</a></div>
      <div><a href="../templates/AboutUs.html">AboutUs</a></div>
      <div><a href="../templates/">Carrers</a></div>
    </div>
    {% comment %} buttons {% endcomment %}
    <div class="w-[40%] h-full flex justify-around items-center">
      <button>SignUp</button><button>Login</button>
    </div>
  </div>
</header>
