{% extends "base.html" %} {% block content %}
<div class="text-red-400 font-medium w-[80vw] h-[80vh]">
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. In deserunt maiores
  et quod sed suscipit exercitationem pariatur minus a ratione consequuntur
  mollitia corporis aut, possimus corrupti accusamus sunt aspernatur harum ex
  voluptates consequatur. Perspiciatis, aperiam repellendus natus numquam nobis
  veritatis qui, dolore blanditiis hic distinctio corporis officia veniam
  pariatur rem mollitia soluta magni itaque recusandae, consequuntur ratione
  quae molestias! Autem asperiores totam blanditiis error ex amet corporis
  excepturi possimus minus, nesciunt molestiae temporibus delectus consequuntur
  saepe facere? Possimus, porro! Eveniet ipsum quibusdam vitae aperiam officia
  possimus expedita amet praesentium debitis facere adipisci ullam sint nobis
  pariatur nulla ipsam excepturi in laboriosam veniam dolor illo fugiat ratione,
  nemo explicabo. Incidunt quaerat beatae rem voluptatibus accusamus, nemo at
  qui porro enim temporibus quos natus a, magnam laudantium sint nobis! Corrupti
  possimus quisquam magnam culpa repudiandae quos, ullam esse consectetur? Unde
  quam molestiae blanditiis maiores nostrum pariatur voluptatem corporis non
  iste eos debitis nesciunt eveniet, eum nisi quibusdam, fuga veritatis
  excepturi minus vel? Eveniet modi debitis atque quod laboriosam ad tenetur
  quae pariatur fuga deserunt perferendis aliquid, necessitatibus repellendus
  labore quaerat nihil illum aperiam, eaque autem consectetur unde itaque.
  Consequuntur accusantium quis reprehenderit et dicta vel voluptatem nemo
  sequi? Minus aliquid, officia esse molestiae repellat distinctio quidem maxime
  quod earum, libero, vero ullam ratione voluptates deserunt rem fuga laboriosam
  assumenda at animi quisquam nesciunt quos sunt consequatur! Tempore
  reprehenderit cumque vel, quas ullam assumenda earum laborum perferendis
  quisquam nesciunt optio tempora eligendi modi labore facilis id ab velit,
  delectus vero possimus. Ipsam exercitationem obcaecati odio unde ab,
  voluptates commodi quaerat facere, aspernatur voluptas praesentium, incidunt
  numquam voluptatem consectetur dolorum quia? Deserunt ullam hic sint commodi
  assumenda inventore ratione libero corrupti praesentium architecto unde,
  maxime debitis porro, veniam sit? Officia, numquam! Earum ullam dolorem atque
  veritatis repellat odit perferendis nemo ipsum at sit, maiores assumenda
  beatae eveniet temporibus? Animi iure harum accusamus, alias nobis ex earum
  neque nostrum quasi maxime quia, eum numquam quae, deleniti repellat
  consequatur excepturi magni ipsum corrupti minus. Voluptatibus harum dolor
  corrupti quis ipsum nobis sint eligendi impedit vel sequi, aperiam iure
  praesentium voluptas dignissimos cum laboriosam consequatur. Nisi cupiditate
  vitae repudiandae sed ad? Illo officiis, debitis, reiciendis minus, id rerum
  asperiores ipsam dicta laborum nulla tempora? Ad pariatur quam aspernatur
  repellendus cumque provident nemo quis non ea consequuntur eaque, sequi
  officiis! Reiciendis sint nemo culpa provident harum, quasi aspernatur
  voluptatum nulla pariatur odio quod quia, veniam mollitia esse hic soluta
  iusto reprehenderit iure dicta dolore explicabo! Doloribus sapiente magnam
  natus adipisci. Soluta aspernatur ratione sunt numquam labore nesciunt fugit
  enim quibusdam accusantium autem doloremque eaque vel quam unde architecto cum
  saepe cumque quis voluptatum ullam ea, perferendis maxime reprehenderit? Amet
  in facilis nihil corrupti deserunt minima aliquam, repudiandae voluptates
  minus autem vel ipsa qui, asperiores cum iure corporis nemo, vero ad assumenda
  totam laborum hic doloribus. A, modi quo corrupti quidem excepturi quae ipsa
  quas obcaecati nam enim asperiores odit cupiditate quasi, illum nihil totam,
  consequuntur veritatis eum ipsam dolor tempore itaque dolore mollitia
  voluptatibus! Ad a, vero tempore impedit facilis unde repellendus
  voluptatibus, molestiae autem, asperiores sint necessitatibus ipsa nisi fuga
  esse adipisci sequi. Cumque officia excepturi ipsum debitis dolore ipsa illum
  doloribus deserunt, laborum eveniet eaque. Consequuntur laudantium esse iste
  accusamus deleniti cupiditate deserunt dolor hic ipsam ex sint, reprehenderit
  sunt, reiciendis architecto blanditiis sapiente labore dolorum! Reiciendis,
  nam earum recusandae officiis rerum eius illo. Architecto in quae molestias
  impedit itaque voluptatum mollitia tenetur reiciendis optio vel debitis amet
  est obcaecati enim, cupiditate aliquam vitae laborum labore. Sit, sed? Labore
  beatae placeat repudiandae voluptatibus, accusamus eos aut, quaerat maiores
  provident rerum temporibus. Inventore officia assumenda nostrum quo obcaecati
  aliquam corporis vel perspiciatis excepturi delectus magnam eaque doloribus
  quas architecto expedita nemo, quis id! Placeat natus maxime, et repellendus
  nihil recusandae officiis perspiciatis omnis eveniet amet doloribus incidunt
  soluta, ad illum, error ullam necessitatibus quasi eum aut vitae libero enim?
  Dolorem expedita perspiciatis vel modi corrupti quas reprehenderit excepturi
  incidunt, est, error unde dolore, numquam illum cupiditate? A doloremque
  necessitatibus facere assumenda placeat iure impedit, possimus adipisci autem
  eaque unde sapiente quis ea harum pariatur quod culpa ducimus voluptates
  exercitationem iste sint. Quasi numquam ullam vero eius corporis? Ab fugiat ex
  illum, et consequuntur iusto quod natus doloremque laborum deserunt architecto
  asperiores reiciendis nobis officia numquam dignissimos! Dolores, fugit
  repudiandae. Beatae accusantium nostrum vitae, cupiditate corrupti aut ad
  rerum possimus, ipsa sapiente dolorem architecto nihil culpa inventore? Cumque
  amet ad tempora ullam vel magnam nesciunt sapiente nostrum quas corrupti
  laudantium, accusantium assumenda. Voluptatum, blanditiis expedita? Porro
  deserunt vel ducimus. Accusamus voluptatibus reprehenderit repellendus aliquam
  veniam sequi magnam enim! Commodi labore aspernatur similique tempore libero
  aliquid ut inventore quis molestias vero eum, soluta, fugit nostrum reiciendis
  vel facilis nulla quod dolorem ipsam aut. Hic ratione consectetur, quibusdam
  delectus ipsam voluptates ipsum ducimus reiciendis veritatis, nihil minima
  asperiores ullam dicta est reprehenderit illo nulla, officiis praesentium
  sequi perferendis unde? Corrupti necessitatibus magnam est libero fuga nam et
  cumque ut veritatis quia dolor cum, velit culpa quae optio laboriosam neque ad
  repellendus eos dolores. Voluptates suscipit voluptatibus ea quasi quo alias,
  rerum numquam eveniet libero ratione possimus. Odit, laboriosam beatae.
  Quidem, magnam nulla? Assumenda, aspernatur incidunt molestiae sunt, aperiam,
  impedit repellat dignissimos libero alias ullam esse? Architecto omnis
  accusamus suscipit laudantium nihil ea laborum dignissimos est sit? Voluptatem
  ipsa mollitia, animi perspiciatis fuga accusamus eius eligendi a sint. Impedit
  temporibus veniam modi minima nisi atque? Explicabo magnam voluptatem
  delectus, blanditiis quo autem velit cupiditate quos ut pariatur aliquid totam
  officia corporis sint temporibus error. Optio, nisi. Voluptas delectus eveniet
  earum, ratione expedita asperiores soluta quasi blanditiis quis ut enim velit
  ad? Quae, facere temporibus quod ullam doloremque aut porro excepturi nostrum
  in tempore incidunt nihil, quasi quisquam laudantium minus. Laudantium optio
  possimus quasi enim facere debitis aspernatur numquam fugit provident
  obcaecati, corporis pariatur eum aliquam quam reiciendis assumenda cum sequi
  illo perferendis voluptas soluta nam iusto magnam. Veritatis necessitatibus
  error placeat iste eaque distinctio dicta hic impedit quam obcaecati ad neque
  asperiores maiores voluptas eius, laborum possimus vel fugiat at consectetur?
</div>
{% endblock %}
