{% extends "base.html"%} {% block content %}
<main>
  {% comment %}
  <h1>hi there how are you doing</h1>
  <marquee behavior="" direction="left"
    >Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae
    necessitatibus magni optio, ex, consequuntur tempore deleniti expedita
    impedit eaque tenetur ullam in explicabo et reiciendis quo illo. Dicta, ea
    aliquid.</marquee
  >
  {% endcomment %}

  <form action="" method="get">
    <label for="search" id="search">search</label>
    <input type="text" name="search" />
    <button type="submit">submit</button>
  </form>

  <p>
    {% for data in home_data %}
    <marquee behavior="" direction="" onmouseover="stop()" onmouseout="start()" >
      <p  >
        {{data.news_title | safe }} {{data.news_description | safe }}
      </p>
    </marquee>
    {% endfor %}
  </p>
</main>

{% endblock %}
