{% extends "base.html"%} {% block content %}
<main>
  <h1>hi there how are you doing</h1>
  <marquee behavior="" direction="left"
    >Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae
    necessitatibus magni optio, ex, consequuntur tempore deleniti expedita
    impedit eaque tenetur ullam in explicabo et reiciendis quo illo. Dicta, ea
    aliquid.</marquee
  >

  <p> {% for data in home_data %}
  <marquee behavior="" direction="">
        {{data.news_title |safe }}
        {{data.news_description | safe }}
        </marquee>
  {% endfor %} </p>
</main>

{% endblock %}
