@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.active{
  @apply bg-amber-300 w-10 h-10;
}
/* 
header {
  width: 100%;
  height: 8rem;
  background-color: #0b0e14;
}

.header_1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

.logo {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo_img {
  width: 8rem;
  height: 6rem;
  border-radius: 3px;
}

.pages {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
a {
  text-decoration: none;
}
.header_buttons {
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
} */
