{% extends "base.html" %} {% block content %}
<div class="home_block">
  <p >
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod velit
    voluptates asperiores veniam porro voluptatum expedita, explicabo aspernatur
    autem libero minus harum incidunt atque hic ipsam quia? Nam, repudiandae
    doloribus magni eius perferendis placeat officiis et mollitia eum minus est
    assumenda corrupti corporis aliquid laboriosam quasi nihil ab? Quasi
    repudiandae quam, voluptatibus soluta, expedita quisquam laudantium corporis
    inventore dignissimos facilis, voluptatum veritatis. Molestias debitis ipsum
    ducimus nobis incidunt rerum eveniet aperiam! Adipisci aut cum deleniti
    quaerat eaque labore est officiis a, hic officia culpa tempora id vero! Sit
    amet quidem perferendis quos! Quaerat tenetur voluptatibus est qui dolor
    numquam necessitatibus voluptates aperiam harum iste facere, repellendus
    eveniet, ullam ad ut repellat quis illum alias eaque! Minima vero quas quod
    consequatur dolore! Dolores voluptatem vero culpa hic eligendi impedit. A
    voluptas, quidem nulla illo quo aut placeat eos dolore, sed iusto, minus
    eius omnis reiciendis quos voluptatum molestiae officiis hic ea ipsam
    tenetur quas similique molestias? Quam deserunt quis, accusamus sapiente
    aliquid quod quisquam nisi perspiciatis dicta error dignissimos pariatur
    ducimus. At odit amet incidunt aperiam soluta, maiores dolorum, mollitia aut
    optio et id, asperiores necessitatibus nostrum modi eos dolore illum
    dignissimos. Sint consequuntur sequi excepturi accusamus tempore mollitia
    veniam sed!
  </p>
</div>
{% endblock %}
